DogBreeds/XSDDogBreeds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:unsignedShort" />
							<xs:element name="breedName" type="xs:string" />
							<xs:element name="breedType" type="xs:string" />
							<xs:element name="breedDescription" type="xs:string" />
							<xs:element name="furColor" type="xs:string" />
							<xs:element name="origin" type="xs:string" />
							<xs:element name="minHeightInches" type="xs:decimal" />
							<xs:element name="maxHeightInches" type="xs:decimal" />
							<xs:element name="minWeightPounds" type="xs:unsignedByte" />
							<xs:element name="maxWeightPounds" type="xs:unsignedByte" />
							<xs:element name="minLifeSpan" type="xs:unsignedByte" />
							<xs:element name="maxLifeSpan" type="xs:unsignedByte" />
							<xs:element name="imgThumb" type="xs:string" />
							<xs:element name="imgSourceURL" type="xs:string" />
							<xs:element name="imgAttribution" type="xs:string" />
							<xs:element name="imgCreativeCommons" type="xs:boolean" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>